@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;

    font-family: Proxima Nova;
    font-weight: 400;
    src: url(/fonts/proxima-nova/400-regular.woff) format("woff");
  }
  h2 {
    @apply text-xl;

    font-family: Proxima Nova;
    font-weight: 500;
    src: url(/fonts/proxima-nova/500-medium.woff) format("woff");
  }
}
#button{
    box-sizing: border-box;
    display: block;
    
    margin: auto;
    position: absolute;
    width: 390px;
    height: 365px;
    left: 502px;
    top: 231px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    }

#iffy{

    position: absolute;
    width: 74px;
    height: 73px;
    left: 546px;
    top: 645px;
}
#know{

    position: absolute;
    width: 57px;
    height: 57px;
    left: 681px;
    top: 646px;
    
    background: #BC60DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#idk{
    position: absolute;
    width: 62.6px;
    height: 61.71px;
    left: 798.92px;
    top: 642.2px;

}
